
<mat-drawer-container
  fxLayout
  fxLayout.md="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  fxLayoutGap.md="1">
  <mat-drawer  #drawer mode="side" hasBackDrop="false"
  fxLayout fxLayout.md="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.md="1"
  >
      <font color="#0d6d3b" bold="true">PDM Notes</font>
      <p color="secondary" >---</p>
      <br>
      <button mat-icon-button color="secondary" (click)="drawer.toggle()" class="icons">
        Notes
      </button>
  </mat-drawer>
  <!-- </mat-drawer> -->
  <mat-drawer-content>
    <nav fxLayout fxLayout.md="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.md="1">
      <button mat-icon-button color="secondary" (click)="drawer.toggle()" class="icons">
        <mat-icon>menu</mat-icon>
      </button>
      <h5 class="title secondary-font"> </h5>
      <fa-icon class="icons" [icon]="faLightbulb"  (click)="toggleTheme()"></fa-icon>

    </nav>
    <app-main_view><ng-content></ng-content></app-main_view></mat-drawer-content>
</mat-drawer-container>
